* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a {
	color: #737373;
	text-decoration: none;
}
/* 顶部导航 */
#headerAd {
	background: url(../img/banner_top.png) no-repeat 50% 0;
	height: 100px;
}

/* 停单提示 topbar */
.sit-nav {
	background-color: #f2f2f2;
	height: 35px;
	min-width: 1200px;
	font-size: 12px;
	border-bottom: 1px solid #e6e6e6;
}

.container {
	width: 1200px;
	max-width: none !important;
	height: 35px;
	padding-right: 0;
	padding-left: 0;
	background: #f2f2f2;
	margin: 0 auto;
}
.cate-list a:hover{
	color: #ff6a00;
	text-decoration: none;
}
.menu a:hover{
	color: #ff6a00;
}
/* 左边 */
.sit-nav .site-nav-l {
	float: left;
}

.sit-nav ul .menu {
	line-height: 34px;
	display: block;
	float: left;
}

.menu a .ico {
	margin-right: 2px;
}

.ico {
	display: inline-block;
	vertical-align: middle;
}

/* 星星图标 */
.ico-star {
	width: 24px;
	height: 24px;
	background: url(../img/common_z.png) no-repeat 0px -318px;
	margin-top: -2px;
}

/* 微信图标 */
.ico-weixin {
	width: 24px;
	height: 24px;
	background: url(../img/common_z.png)no-repeat -374px -131px;
	margin-top: -1px;
}

/* 手机图标 */
.ico-mobile {
	width: 24px;
	height: 24px;
	background: url(../img/common_z.png) no-repeat -294px -171px;
	margin-top: -1px;
}

/* 购物车图标 */
.ico-cart {
	width: 24px;
	height: 24px;
	background: url(../img/common_z.png) no-repeat -340px -284px;
	margin-top: -2px;
}

/* 电话图标 */
.ico-phone {
	width: 30px;
	height: 30px;
	background: url(../img/common_z.png) no-repeat -380px -46px;
	margin-right: 6px;
}

/* 耳机图标 */
.ico-headset {
	width: 30px;
	height: 30px;
	background: url(../img/common_z.png) no-repeat -294px -131px;
	margin-right: 6px;
}

.menu a {
	display: block;
	height: 35px;
	padding: 0 8px;
}

.dropdown {
	position: relative;
}
/* 隐藏部分 */
.dropdown-menu {
	position: absolute;
	width: 158px;
	height: 200px;
	background-color:#FFFFFF;
	z-index: 1000;
	border:1px solid #d9d9d9;
	border-top: none;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	display: none;
}
.dropdown-weixin img{
	border: 0;
}
.dropdown-menu p{
	line-height: 16px;
}
/* 关注微信滑过 */
.open,.dropdown{
	border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
}
.open:hover{
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	background: #FFFFFF;
	
}
.open:hover .dropdown-weixin{
	display: block;
}
.dropdown:hover{
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	background: #FFFFFF;
	
}
/* 花礼网app滑过 */
.dropdown:hover .dropdown-app{
	display: block;
}
/* 右边 */
.sit-nav .site-nav-r {
	float: right;
}
/* 客户服务滑过 */
.dropdown-service {
	position: absolute;
	width: 80px;
	height: 130px;
	background-color:#FFFFFF;
	z-index: 1000;
	border:1px solid #d9d9d9;
	border-top: none;
	text-align: center;
	padding:0 0 10px;
	display: none;
}
.dropdown-service a{
	height: 24px;
}
.topservise:hover .dropdown-service{
	display: block;
}
/* 购物车滑过 */
.dropdown-cart{
	display: none;
	width: 320px;
	left:-205px;
	height: auto;
	padding: 15px;
}
.dropdown-cart .empty {
    padding: 30px 0;
    text-align: center;
	color: #737373;
}
.cart:hover .dropdown-cart{
	display: block;
}
/* 登录状态显示 */
.site-nav ul .login {
	padding-right: 6px;
}

.site-nav ul .menu {
	line-height: 34px;
	display: block;
	float: left;
}

.login a {
	display: inline-block;
	padding-right: 2px;
}

.site-nav ul .menu a {
	position: relative;
	display: block;
	height: 35px;
	padding: 0 8px;
}

/* 竖杠 */
.site-nav-pipe {
	float: left;
	overflow: hidden;
	width: 1px;
	height: 12px;
	margin: 11px 1px;
	padding: 0;
	background-color: #d9d9d9;
}

li {
	display: list-item;
}

.sanjiao {
	position: relative;
	top: 10px;
	display: inline-block;
	line-height: 1;
}

/* 三角 */
.glyphicon-triangle-bottom:before {
	content: "";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #d9d9d9;
	margin-left: 2px;
}
.menu a:hover .glyphicon-triangle-bottom:before{
	border-top-color: #f75a55;
}

.slogan {
	margin-left: 5px;
	color: #737373;
}

/* 头部开始 */
header {
	height: 120px;
	width: 1200px;
	margin: 0 auto;
}

header .logo {
	float: left;
	width: 500px;
	height: 64px;
	margin-top: 28px;
	background: url(../img/pc_hualogo.png) left center no-repeat;
}

header .logo h1 a {
	display: block;
	overflow: hidden;
	width: 220px;
	height: 0;
	margin-top: 20px;
	padding-top: 64px;
	color: #fff;
}

/* 搜索框 */
.search {
	float: left;
	width: 320px;
	height: 66px;
	margin-top: 40px;
}

form {
	display: block;
}

.input-group {
	display: table;
	border-collapse: separate;
	width: 322px;
	height: 36px;
	border: 1px solid #FF6A00;
	box-sizing: border-box;
}

.input-group .form-control {
	width: 239px;
	height: 34px;
	float: left;
	padding: 6px;
	box-shadow: none;
	outline: none;
	border: none;
	
}
input::-webkit-input-placeholder{
	color: #737373;
	font-size: 14px;
}

.input-group-btn {
	float: right;
	width: 81px;
	height: 34px;
	vertical-align: middle;
	display: table;
}

.btn-primary {
	width: 81px;
	height: 34px;
	color: #ffffff;
	white-space: nowrap;
	background-color: #ff6a00;
	vertical-align: middle;
	border-color: #ff6a00;
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
	font-size: 16px;
	padding: 5px 24px;
	display: inline-block;
	border: 0;
	outline: none;
}

/* 电话 */
header #service {
	float: right;
	margin-top: 40px;
	position: relative;
	font-size: 14px;
	color: #737373;
}

header #service a {
	font-size: 8px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #d9d9d9;
	color: #737373;
}

header #service a:hover {
	color: #ff6a00;
}
/* 头部结束 */


/* 主体内容 */
.login-wrapper {
    width: 100%;
    height: 474px;
    background-image: url(../img/login_bg.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.login-wrapper .centers {
    width: 1220px;
    margin: 0 auto;
    overflow: hidden;
}
/* 登录大盒子 */
.login-wrapper .centers .login-box {
    position: relative;
    width: 440px;
    height: 438px;
    float: right;
    background: #fff;
    margin-top: 18px;
	overflow: hidden;

}
.login-box .login-tabs {
	display: flex;
    width: 100%;
    height: 54px;
	border-bottom:2px solid  #E9ECF0 ;
}
.login-box .login-tabs li{
	flex: 1;
	line-height:56px ;
	font-size: 18px;
	text-align: center;
}
.login-tabs li .wetchat{
	display: inline-block;
	height: 52px;
	/* border-bottom: 4px solid  #FF734C;	 */
}


/* 微信登录中间部分 */
.weixin-regist{
	width: 440px;
	height: 280px;
	text-align: center;
}
.weixin-regist img{
	width: 138px;
	height: 138px;
	margin-top: 55px;
}

.weixin-regist .wechattext{
	font-size: 18px;
    color: #232628;
    line-height: 25px;
    margin-top: 26px;
	display: block;
}
/* 账号密码登录中间部分 */
.pass-regist{
	width: 440px;
	height: 280px;
	padding: 20px 60px 0;
	display: none;
}
/* 手机短信登录中间部分 */
.tel-regist{
width: 440px;
height: 280px;
display: block;
padding: 20px 60px 0;
display: none;
}
.pwd-forget {
    font-size: 12px;
    color: #232628;
    float: right;
}
.input-box{
	width: 320px;
	height: 42px;
	border: 1px solid #B4BABF;
	border-radius: 2px;
	margin-bottom: 12px;
}
.iconfont{
	display:inline-block;
	width: 40px;
	height: 20px;
	margin-top: 10px;
	border-right: 1px solid #E9ECF0;
}
	
.icontell{
	background: url(../img/icontell.png) no-repeat center;
}
.iconyzm{
	background: url(../img/iconyzm.png) no-repeat center;
}
.iconpwd{
	background: url(../img/iconpwd.png) no-repeat center;
}
.input-box input {
    width: 262px;
    height: 40px;
    padding: 10px 14px;
    vertical-align: top;
    font-size: 14px;
    color: #232628;
	border: 0;
	outline: none;
}
.input-box .verify {
    width: 70%;
}
.codebox{
	position: relative;
}
.getyzm{
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    height: 40px;
    background: #E9ECF0;
    color: #232628;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
/* 红色注册 */
.loginred{
	background: #FF734C;
	color: white;
	margin-top: 35px;
	box-shadow: 0 6px 6px rgba(255, 115, 76, 0.3);
	border-radius: 24px;
	font-size: 18px;
}
.form-tip {
    margin-top: 2px;
    color: #232628;
    font-size: 12px;
    text-align: center;
	margin-bottom: 30px;
}






/* QQ登录和支付宝登录 */
.login-icon{
	width: 440px;
	height: 45px;
	box-sizing: border-box;
	padding: 0 102px;
	display: flex;
}
.login-icon .qqlogin,.login-icon .zfblogin{
	width: 118px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.login-icon span{
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 8px;
}
.icon-qq{
	background: url(../img/qq.png) no-repeat;
}
.icon-zfb{
	background: url(../img/zfbicon.png) no-repeat;
}	
	
.qqlogin p,.zfblogin p{
	float: left;
	font-size: 12px;
    color: #71797F;
}

/* 登录盒子foot */
#footbox{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background: #F7F9FA;
    line-height: 42px;
}
#footbox a{
	line-height: 42px;
	font-size: 14px;
	text-align: center;
}
#footbox .emailbox{
	float: left;
	width: 100%;
	height: 43px;
}

/* foot导航 */
.footer-nav {
    font-size: 12px;
    width: 1200px;
    margin: 30px auto;
    text-align: center;
    color: #d9d9d9;
}
.footer-nav a:first-child {
    margin-left: 0;
}
.footer-nav a {
    display: inline-block;
    margin: 0 32px;
	color: #737373;
}

/* 通用尾部 */
footer {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
footer .auth {
    margin: 20px 0 30px;
}
footer .auth img {
    margin: 0 5px;
}
.auth img {
    vertical-align: inherit;
}
footer p{
	margin: 0 0 10px;
	color: #737373;
	font-size: 12px;
	width: 1200px;
	height: 17px;
}
/* 咨询客服 */
.kefu{
	position: fixed;
	width: 127px;
	height: 41px;
	background: #FF6600;
	bottom: 0;
	right: 60px;
	font-size: 16px;
	color: white;
	line-height: 41px;
	cursor: pointer;
	z-index: 900;
}	
	.kefuimg{
		float: left;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		margin-left: 10px; 
		margin-top: 13px;
	}
.kefu span:second-child{
	float: right;
	text-align: center;
} 